body {
    font-family: Playfair Display;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th {
    text-align: center;
    padding: 20px;
    border: 3px solid #f3bc16;
    background: #f3bc16;
    font-size: 50px;
}

.darker {
    background: #a47c07;
}

td {
    /* text-align: center; */
    padding-right: 150px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 3px solid #f3bc16;
    background: #382c6e;
    color: white;
    font-size: 50px;
}